<h3>Create an account</h3>
<form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <app-input
    inputType="text"
    label="Username"
    [control]="authForm.get('username')"
  ></app-input>
  <app-input
    label="Password"
    inputType="password"
    [control]="authForm.get('password')"
  ></app-input>
  <app-input
    inputType="password"
    label="passwordConfirmation"
    [control]="authForm.get('passwordConfirmation')"
  ></app-input>
  <div
    class="ui red basic label"
    *ngIf="
      authForm.get('password').touched &&
      authForm.get('passwordConfirmation').touched &&
      authForm.errors
    "
  >
    <p *ngIf="authForm.errors.passwordsDontMatch">Passwords must match.</p>
    <p *ngIf="authForm.errors.onConnection">
      No internet connection available.
    </p>

    <p *ngIf="authForm.errors.unknownError">Failed to signup</p>
  </div>
  <button class="ui submit button primary">Submit</button>
</form>
