<h3>Create an account</h3>
<form class="ui form" [formGroup]="authForm">
  <app-input
    inputType="text"
    label="Username"
    [control]="authForm.get('username')"
  ></app-input>
  <app-input
    label="Password"
    inputType="password"
    [control]="authForm.get('password')"
  ></app-input>
  <app-input
    inputType="password"
    label="passwordConfirmation"
    [control]="authForm.get('passwordConfirmation')"
  ></app-input>
  <div
    class="ui red basic label"
    *ngIf="authForm.get('password').touched &&
    authForm.get('passwordConfirmation').touched &&
    authForm.errors"
  >
    <p *ngIf="authForm.errors.passwordsDontMatch">Passwords must match.</p>
  </div>
  <button class="ui submit button primary">Submit</button>

  {{ authForm.errors | json }}
</form>
