<form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="emailForm">
  <app-input
    label="To"
    inputType="email"
    [control]="emailForm.get('to')"
  ></app-input>
  <app-input
    label="From"
    inputType="email"
    [control]="emailForm.get('from')"
  ></app-input>
  <app-input
    label="Subject"
    inputType="text"
    [control]="emailForm.get('subject')"
  ></app-input>
  <app-input
    label="Content"
    controlType="textarea"
    [control]="emailForm.get('text')"
  ></app-input>

  <button class="ui button primary">Send</button>
</form>
