<h3>Sign In</h3>
<form class="ui form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <app-input
    inputType="text"
    label="Username"
    [control]="authForm.get('username')"
  ></app-input>
  <app-input
    label="Password"
    inputType="password"
    [control]="authForm.get('password')"
  ></app-input>
  <div class="ui red basic label" *ngIf="authForm.errors">
    <p *ngIf="authForm.errors.credentials">Invalid username or password</p>
  </div>
  <div>
    <button class="ui submit button primary">Submit</button>
  </div>
</form>
